<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Tus Mayores</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <!-- Responsive-->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- fevicon -->
    <link rel="icon" th:href="@{/images/fevicon.png}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" th:href="@{/css/miCss.css}">

    <!-- owl stylesheets -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
          media="screen">

    <script>
        documen.getElementById("header").addEventListener("hover", function() {
            document.getElementById("mostrar");
        });
    </script>

</head>
<!-- body -->

<body>
</div>
<div class="header">
    <div class="container">
        <!--  header inner -->
        <div class="col-sm-12">

            <div class="menu-area">
                <nav class="navbar navbar-expand-lg ">
                    <!-- <a class="navbar-brand" href="#">Menu</a> -->
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="header">
                        <ul class="navbar-nav mr-auto nav" id="nav">
                            <li class="nav-item active nav ">
                                <a class="nav-link" href="/">HOME<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/resident">RESIDENTES</a>

                                <ul class="navbar-nav mr-auto">
                                    <li class="# nav-item" href="#">
                                        <a class="nav-link" href="/admin/resident/new">NUEVO RESIDENTE</a>
                                    </li>
                                    <li class="# nav-item" href="#">
                                        <a class="nav-link" href="/yourReservationsInInterval">BUSCAR POR DNI</a>
                                    </li>
                                    <li class="# nav-item" href="#">
                                        <a class="nav-link" href="/yourReservationsInInterval">BUSCAR POR APELLIDOS</a>
                                    </li>
                                    <li class="# nav-item" href="#">
                                        <a class="nav-link" href="/yourReservationsInInterval">BUSCAR POR FECHA DE INGRESO</a>
                                    </li>
                                    
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/yourReservations">FAMILIARES</a>

                                <ul class="navbar-nav mr-auto">
                                    <li class="# nav-item" href="#">
                                        <a class="nav-link" href="/admin/resident/new">NUEVO FAMILIAR</a>
                                    </li>
                                    <li class="# nav-item" href="#">
                                        <a class="nav-link" href="/yourReservationsInInterval">MODIFICAR FAMILIAR</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/userData">VISITAS</a>

                                <ul class="navbar-nav mr-auto">
                                    <li class="# nav-item" href="#">
                                        <a class="nav-link" href="/admin/resident/new">NUEVA VISITA</a>
                                    </li>
                                    <li class="# nav-item" href="#">
                                        <a class="nav-link" href="/yourReservationsInInterval">MODIFICAR UNA VISITA</a>
                                    </li>
                                    <li class="# nav-item" href="#">
                                        <a class="nav-link" href="/yourReservationsInInterval">BORRAR UNA VISITA</a>
                                    </li>
                                    <li class="# nav-item" href="#">
                                        <a class="nav-link" href="/yourReservationsInInterval">VALIDAR UNA VISITA</a>
                                    </li>
                                    
                                </ul>
                            </li>
                            <li class="nav-item">
                                <form th:action="@{/logout}" method="POST" id="logoutForm"></form>
                                <a href="javascript:document.getElementById('logoutForm').submit()">SALIR</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- end header end -->
<!--banner start -->
<div class="lets_touch_main">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="input_main">
            <div class="container">
              <form method="POST" action="#" th:action="@{/admin/resident/}" th:object="${resident}">
                <h1>Nombre del residente</h1>
                <div class="form-group">
                  <input type="text" class="email-bt" th:field="*{nombre}" id="username" name="username" placeholder="Nombre" autofocus>
                </div>
                <h1>Apellidos del residente</h1>
                <div class="form-group">
                  <input type="text" class="email-bt" th:field="*{apellidos}"id="surnames" name="surnames" placeholder="Apellidos" autofocus>
                </div>
                <h1>Fecha de nacimiento</h1>
                <div class="form-group">
                  <input type="date"  th:field="*{fechaNac}" name="fechaNac" id="fechaNac" autofocus>
                </div>
                <h1>Fecha de entrada</h1>
                <div class="form-group">
                    <input type="date" th:field="*{fechaEntradaResi}" name="fechaEntradaResi" id="fechaEntradaResi" autofocus>
                </div>
                <h1>Fecha de salida</h1>
                <div class="form-group">
                    <input type="date" th:field="*{fechaSalida}" name="fechaSalida" id="fechaSalida" autofocus>
                </div>
                <h1>Causa de salida</h1>
                <div class="form-group">
                    <input type="text"  th:field="*{causaSalida}" name="causaSalida" id="causaSalida" autofocus>
                </div>
                <div class="send_btn">
                  <input type="submit" name="editar" value="Editar" />
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>